.header {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  align-content: center;
  padding: 20px 40px;
  margin-bottom: 30px;
  background: linear-gradient(
    0deg,
    rgba(1, 6, 97, 1) 0%,
    rgba(174, 195, 249, 1) 100%
  );
}
.header_home,
.header_register,
.header_login,
.header_contacts {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: #fff 1px solid;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
}
.header_home:focus,
.header_home:hover,
.header_register:focus,
.header_register:hover,
.header_login:focus,
.header_login:hover,
.header_contacts:focus,
.header_contacts:hover {
  background-color: rgba(5, 5, 13, 0.5);
}
